<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course List</title>
</head>
<body>
    <h1>Course List</h1>
    <table id="courseTable">
        <tr th:each="course : ${courses}">
            <td th:text="${course.id}"/>
            <td th:text="${course.title}"/>
            <td th:text="${course.description}"/>
            <td th:text="${course.fee}"/>
        </tr>
    </table>
    <br/>
    <button class="button" id="okButton" onclick="confirm('Thank you for visiting')">Ok</button>
    <p>
        <a href="https://discord.com/">Discord</a>
    </p>
</body>
</html>